{% extends "Base.html" %}
{% block content %}
<h1>Bienvenido a la app de autodiagnóstico de COVID-19</h1>
<br>
<p>En esta app usted registrará diariamente algunos datos para poder determinar si contrajo COVID-19</p>
<div class="container">
    <h2>Dashboard</h2>
    <div class="row row-cols-md-3">
        <div class="col-sm-6">
            <div class="card border-info mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Número de casos</h5>
                    <p class="card-text">{{ confirmados }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-success mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Recuperados</h5>
                    <p class="card-text">{{ recuperados }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-danger mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Muertes</h5>
                    <p class="card-text">{{ muertos }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}